{deps, [
        {gproc, {git, "https://github.com/uwiger/gproc.git", {branch, "master"}}}
       ]
}.

{shell, [
         {apps, [enet]}
        ]}.

{profiles,
 [
  {test, [
          {deps, [
                  {proper, "1.3.0"}
                 ]},
          {erl_opts, [debug_info]},
          {shell, [
                   {apps, [enet, proper]}
                  ]}
         ]}
 ]}.
