{deps, [
        {gproc, "0.8.0"}
       ]
}.

{shell, [
         {apps, [enet]}
        ]}.

{profiles,
 [
  {test, [
          {deps, [
                  {proper, "1.3.0"}
                 ]},
          {erl_opts, [debug_info]},
          {shell, [
                   {apps, [enet, proper]}
                  ]}
         ]}
 ]}.
